<html>
        <head>
                
                        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
                        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
                        
                        <script src="/js/module.js"></script>
                        <script src="/js/search.js"></script>
                        
            
                        <meta charset="utf-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
                        <!-- Bootstrap CSS -->
                        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                        
                        <title>Search Demo</title>
                        <style>
                            .nopadding{
                                padding:0px;
                            }
                            .rightfloat{
                                float:right;
                            }
                            .leftfloat{
                                float:left;
                            }
                            .addedpadding{
                                padding:15px;
                                background-color:#e9ecef;
                            }
                        </style>
                    </head>
                    <body ng-app="app" ng-controller="search">
                            <div class="row">
                                    <!-- 
                                    Search and Filters Section
                                    -->
                                    <div id="searchsection" class="container addedpadding">
                                        <input type="text" class="form-control" placeholder="Enter Job title" ng-model="jobtitle" ng-keyup="searchnames()">
                                    </div>
                                    <!-- 
                                    Posted Jobs Section
                                    -->
                                    <div class="container" style="padding:35px;">
                                    </div>
                                    <div id="postedjobssection" class="container">
                                        <center><p>Names</p></center>
                                        <table class="table table-dark">
                                            <tr>
                                                <td class="d-flex justify-content-between">                                               
                                                    <span>firstname</span>
                                                    <span>middlename</span>
                                                    <span>lastname</span>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="namelist in names" ng-cloak>
                                                <td ng-repeat="name in namelist[1]" class="d-flex justify-content-between">
                                                    <span>[{[name.firstname]}]</span>
                                                    <span>[{[name.middlename]}]</span>
                                                    <span>[{[name.lastname]}]</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>    
                    </body>
</html>